@media (min-width: 768px) {
    .wrapper {
        max-width: 450px; /* Wider for tablets */
        padding: 30px;
    }
    .form h1 {
        font-size: 2.5em;
    }
    .form h2 {
        font-size: 1.7em;
    }
    .form form .field label {
        font-size: 1.2em;
    }
    .form form .input input {
        height: 42px;
    }
    .form form .button input {
        height: 45px;
        font-size: 1.2em;
    }
    .form form .button input[type=submit]:hover{
        font-size:1.3em;
    }
    .form .link {
        font-size: 17px;
    }
    .copyright {
        font-size: 1.05em;
    }
}